<main class="contents-container">
  <div class="bredcrumb">
    <%= link_to "ホーム", root_path, class:"bredcrumb-link" %> > ユーザー編集
  </div>
  <div class="form-wrapper">
    <h3 class="form-title">ユーザー編集</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="row mb-3">
        <%= f.label :name, "ユーザー名", class: "col-sm-4 col-form-label required" %>
        <div class="col-sm-8">
          <%= f.text_field :name, autofocus: true, class: "form-control", maxlength: 20, required: true%>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :user_image, "アイコン画像", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.file_field :user_image, class: "form-control", onchange: "previewImage(this)"%>
          <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image, id:"preview"%>
          <% else %>
            <img id="preview">
          <% end %>
          <script>
          function previewImage(obj){
            var fileReader = new FileReader();
            fileReader.onload = function() {
              var element = document.getElementById('preview');
              element.src = fileReader.result;
            }
            fileReader.readAsDataURL(obj.files[0]);
          }
          </script>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :friend_code, "フレンドコード", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.text_field :friend_code, class: "form-control", maxlength: 17, pattern: "SW-[0-9]{4}-[0-9]{4}-[0-9]{4}", title: "半角英数字（英大文字）で SW-XXXX-XXXX-XXXXの形式で入力して下さい。" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :profile, "プロフィール", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.text_area :profile, class: "form-control", maxlength: 200 %>
        </div>
      </div>
        
      <div class="row mb-3">
        <%= f.label :email, "メールアドレス", class: "col-sm-4 col-form-label required" %>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row mb-3">
        <%= f.label :password, "パスワード（6文字以上）", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :password_confirmation, "パスワード（確認）", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="form-btn-wrapper">
        <%= link_to :back do %>
          <button type="button" class="cancel-btn">キャンセル</button>
        <% end %>
        <%= f.submit "更新する", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
</main>
