<main class="contents-container">
  <div class="bredcrumb"> 
      <%= link_to "ホーム", root_path, class:"bredcrumb-link" %>
      > <%= link_to "ユーザー", users_path, class:"bredcrumb-link" %>
      <% if @user == current_user %>
        > <%= link_to "マイページ" , user_path(@user.id), class:"bredcrumb-link" %>
      <% else %>
        > <%= link_to @user.name , user_path(@user.id), class:"bredcrumb-link" %>
      <% end %>
      > フォロー
  </div>
  <div class="contents-wrapper">
    <div class="contents-title">
      <div class="contents-count">
        フォロー中： <%= @users.count %> 件
      </div>
    </div>
    <%= render 'users/user_list', users: @users %>
  </div>
</main>
