<ul class="post-list">
  <% posts.each do |post| %>
    <li class="post-wrapper">
      <%= link_to post, class:"post" do %>
        <%= image_tag post.image.variant(resize_to_fill: [285, 170]), class:"post-image" %>
        <div class="post-title"><%= post.title %></div>
      <% end %>
      <div class="post-text">
        <%= link_to "by #{post.user.name}", post.user, class:"post-user-name" %>
        <div class="post-favorite">
          
          <div class="post-favorite-count"> 
            <% if post.favorites_count.nil? %>
              お気に入り0件
            <% else %>
              お気に入り<%= post.favorites_count %>件
            <% end %>
          </div>
          <%= render 'layouts/shared/favorite_btn', post: post %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
