<div class="title">
  <div class="title-container">
    <h2>アカウント情報</h2>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper form-wrapper">

    <div class="account-info row mb-4">
      <div class= "account-label col-sm-4">ユーザー名</div>
      <div class="col-sm-8">
        <%= @user.name %>
      </div>
    </div>

    <div class="account-info row mb-4">
      <div class= "account-label col-sm-4">アイコン</div>
      <div class="col-sm-8">
        <%= image_tag @user.user_image.variant(resize_to_fill: [120, 120]), class:"user-image account-user-image" if @user.user_image.attached?%>
      </div>
    </div>

    <div class="account-info row mb-4">
      <div class= "account-label col-sm-4">フレンドコード</div>
      <div class="col-sm-8">
        <%= @user.friend_code %>
      </div>
    </div>

    <div class="account-info row mb-4">
      <div class= "account-label col-sm-4">プロフィール</div>
      <div class="account-user-profile col-sm-8">
        <%= @user.profile %>
      </div>
    </div>
      
      <div class="account-info row mb-4">
        <div class= "account-label col-sm-4">メールアドレス</div>
        <div class="col-sm-8">
          <%= @user.email %>
        </div>
      </div>

      <div class="account-info row mb-4">
        <div class= "account-label col-sm-4">パスワード</div>
        <div class="col-sm-8">
         ******
        </div>
      </div>
  </div>
</main>
