<div class="title">
  <div class="title-container">
    <div class="account-wrapper">
      <div class="account-wrapper-left">
        <%= image_tag @user.user_image.variant(resize_to_fill: [120, 120]), class:"user-image account-user-image" if @user.user_image.attached?%>
        <div class="account-user-text">
          <div class="account-user-name"><%= @user.name %></div>
          <% if @user.friend_code.present? %>
            <div>フレンドコード：<%= @user.friend_code %></div>
          <% end %>
          <div class="user-profile"><%= @user.profile %></div>
        </div>
      </div>
      <div class="account-wrapper-right">
        <% if @user === current_user %>
          <%= link_to edit_user_registration_path do %>
            <button class="button">編集</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<main class="contents-container">
<div class="tab-wrap">
    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">投稿一覧</label>
    <div class="tab-content">
    <p class="contents-container-title"> <%= @user.name %> の投稿 : <%= @user.posts.count %> 件</p>
    <ul class="post-list">
      <% @user.posts.each do |post| %>
        <li class="post-wrapper">
          <%= link_to post, class:"post" do %>
              <%= image_tag post.image.variant(resize_to_fill: [285, 170]), class:"post-image" %>
              <div class="post-title"><%= post.title %></div>
              <p class="post-id"><%= post.work_id %></p>
          <% end %>
          <div class="post-user-name">
            <%= link_to "by #{post.user.name}", post.user %>
          </div>
        </li>
      <% end %>
    </ul> 
    </div>          
    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">お気に入り</label>
    <div class="tab-content">
      <%= render "posts/favorites" %>
    </div>
</div>
</main>

