<div class="title">
  <div class="title-container">
    <h2>ログイン</h2>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper form-wrapper">
    <h3>ログイン情報を入力</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row mb-3">
        <%= f.label :email, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :password, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-4">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
      <% end %>

      <div class="button-wrapper">
        <%= link_to :back do %>
          <button type="button" class="cancel-button">キャンセル</button>
        <% end %>
        <%= f.submit "ログインする", class:"submit-button" %>
      </div>
    <% end %>

    <div class="login-text">
    アカウントをお持ちでない場合は<%= link_to "新規登録", new_registration_path(resource_name) %>をしてください。<br />
    パスワードをお忘れの方は<%= link_to "こちら", new_password_path(resource_name) %>
    </div>
  </div>
</main>
