<div class="title">
  <div class="title-container">
    <h2>投稿一覧</h2>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper">
    <p class="contents-wrapper-title">全 <%= @posts.count %> 件</p>
    <ul class="post-list">
      <% @posts.each do |post| %>
        <li class="post-wrapper">
          <%= link_to post do %>
            <%= image_tag post.image.variant(resize_to_fill: [285, 170]), class:"post-image" %>
          <% end %>
          <%= link_to post.user, class:"post-user" do %>
            <%= image_tag post.user.user_image.variant(resize_to_fill:[40, 40]), class:"user-image post-user-image" %>
            <%= post.user.name if post.user %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</main>
