<main class="contents-container">
  <div class="bredcrumb"> <%= link_to "HOME", root_path %> > 対象のマイデザイン </div>
  <div class="contents-wrapper">
    <%= search_form_for @q, class:"search-form-7" do |f| %>
      <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, include_blank: "カテゴリーの選択", class:"search-select-box"  %>
      <%= f.search_field :user_name_cont, placeholder: "投稿者", class:"search-user-form" %>
      <%= f.search_field :title_cont, placeholder: "タイトル", class:"search-title-form" %>
      <button type="submit">検索</button>
    <% end %>
    <div class="contents-title">
      <div class="contents-count">
        <%= @posts.count %> 件の結果
      </div>
      <select onChange="location.href=value;", class="contens-sort">
        <option value="">並び替え</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'updated_at+desc') %>">
          新着順
        </option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :favorites_count), 'favorites_count+desc') %>">
          人気順
        </option>
      </select>
    </div>
    <%= render 'post_list', posts: @posts %>
  </div>
</main>
