<h3>マイデザインを投稿</h3>
 
 <%= form_with model: @post do |f| %>
   <table>
     <tr>
       <th><%= f.label :title ,"タイトル" %></th>
       <td><%= f.text_field :title %></td>
     </tr>
 
     <tr>
       <th><%= f.label :image ,"画像" %></th>
       <td><%= f.file_field :image %></td>
     </tr>
 
     <tr>
       <th><%= f.label :text ,"コメント" %></th>
       <td><%= f.text_area :text %></td>
     </tr>
 
     <tr>
       <th><%= f.label :work_id ,"作品ID" %></th>
       <td><%= f.text_field :work_id %></td>
     </tr>

     <tr>
      <th><%= f.label :author_id ,"作者ID" %></th>
      <td><%= f.text_field :author_id %></td>
    </tr>
   </table>
 
   <div>
     <ul>
       <li><%= f.submit "登録完了する"%></li>
       <li><%= link_to "一覧に戻る", :posts %></li>
     </ul>
   </div>
 <% end %>
