<main class="contents-container">
  <div class="bredcrumb">
    <%= link_to "ホーム", root_path, class:"bredcrumb-link" %>
    ><%= link_to "マイデザイン", posts_path, class:"bredcrumb-link" %>
    > 新規投稿
  </div>
  <div class="form-wrapper">
    <h3 class="form-title">マイデザインを投稿</h3>
      <%= form_with model: @post, class:"form" do |f| %>
        <%= render 'layouts/shared/error_messages', model: f.object %>
        <div class="row mb-3">
          <%= f.label :title ,"タイトル", class: "col-sm-4 col-form-label required" %>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control", maxlength: 20, required: true %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :image ,"画像", class: "col-sm-4 col-form-label required", local: true %>
          <div class="col-sm-8">
            <%= f.file_field :image, class: "form-control", onchange: "previewImage(this)", accept: 'image/jpg,image/jpeg,image/png,image/gif', required: true %>
            <img id="preview">
            <script>
            function previewImage(obj){
              var fileReader = new FileReader();
              fileReader.onload = function() {
                var element = document.getElementById('preview');
                element.src = fileReader.result;
              }
              fileReader.readAsDataURL(obj.files[0]);
            }
            </script>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :work_id ,"作品ID", class: "col-sm-4 col-form-label required" %>
          <div class="col-sm-8">
            <%= f.text_field :work_id, class: "form-control", required: true, maxlength: 17, pattern: "MO-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}", title: "半角英数字（英大文字）で MO-XXXX-XXXX-XXXXの形式で入力して下さい。", placeholder: "MO-XXXX-XXXX-XXXX" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :author_id ,"作者ID", class: "col-sm-4 col-form-label required" %>
          <div class="col-sm-8">
            <%= f.text_field :author_id, class: "form-control", required: true, maxlength: 17, pattern: "MA-[0-9]{4}-[0-9]{4}-[0-9]{4}", title: "半角英数字（英大文字）で MA-XXXX-XXXX-XXXXの形式で入力して下さい。", placeholder: "MA-XXXX-XXXX-XXXX" %>
          </div>
        </div>
        <div class="append__category">
          <div class="row mb-3">
            <%= f.label :category_id ,"カテゴリー", class: "col-sm-4 col-form-label required", local: true %>
            <div class="col-sm-8">
              <%= f.collection_select :category_id, @set_parents, :id, :name, { include_blank: "選択してください"}, maxlength: 17, class:"select_field form-control", id:"post_category_id", required: true %>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :tag_names ,"タグ", class: "col-sm-4 col-form-label" %>
          <div class="col-sm-8">
            <%= f.text_area :tag_names, class: 'tag-input form-control', placeholder: "複数追加する場合は、カンマ(,)で区切って入力してください。" %>
          </div>
        </div>
         <div class="row mb-3">
          <%= f.label :text ,"コメント", class: "col-sm-4 col-form-label" %>
          <div class="col-sm-8">
            <%= f.text_area :text, class: "form-control", maxlength: 200 %>
          </div>
        </div>
        <div class="form-btn-wrapper">
          <%= f.submit "投稿する", class:"button-dark submit-btn button" %>
        </div>
      <% end %>
  </div>
</main>

<% if @post.errors.any? %>
  <%= javascript_pack_tag 'posts/new_render.js' %>
<%end%>
