<div class="title">
  <div class="title-container">
    <h2>新規投稿</h2>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper form-wrapper">
  <h3>マイデザインを投稿</h3>
    <%= form_with model: @post, class:"form" do |f| %>
      <div class="row mb-3">
        <%= f.label :title ,"タイトル", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-7">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :image ,"画像", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-7">
          <%= f.file_field :image, class: "form-control" %>
          <div id="image-list"></div>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :text ,"コメント", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-7">
          <%= f.text_area :text, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :work_id ,"作品ID", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-7">
          <%= f.text_field :work_id, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :author_id ,"作者ID", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-7">
          <%= f.text_field :author_id, class: "form-control" %>
        </div>
      </div>
    
      <div class="button-wrapper">
        <%= link_to :back do %>
          <button type="button" class="cancel-button">キャンセル</button>
        <% end %>
        <%= f.submit "投稿する", class:"submit-button" %>
      </div>
    <% end %>
  </div>
</main>
