<div class="title">
  <div class="title-container">
    <div class="post-show-title">
      <h2><%= @post.title %></h2>
      <div class="post-show-user">
        <%= image_tag @post.user.user_image.variant(resize_to_fill: [50, 50]), class:"user-image post-show-user-image" %>
        <%= link_to "#{@post.user.name}", @post.user, class:"post-show-user-name" %>
      </div>
    </div>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper post-show-wrapper">
    <div class="post-show">
      <%= image_tag @post.image.variant(resize_to_fill: [600, 350]), class:"post-show-image"%>
      <div class="post-show-right">
        <div class="post-show-info">
          <div class="post-show-info-first-line">
            <div class="post-show-info-first-line-left post-show-favorite">
              <div class="post-show-favorite-count"> お気に入り<%= @post.favorites.count %>件 </div>
              <%= render 'favorites/btn', post: @post %>
            </div>
            <div class="post-show-info-first-line-right"><%=l @post.updated_at %></div>
          </div>
          <div class="post-show-text">作品ID : <%= @post.work_id %></div>
          <div class="post-show-text">作者ID : <%= @post.author_id %></div>
          <div class="post-show-text">カテゴリー : <%= @post.category.name if @post.category.present? %></div>
          <div class="post-show-comment"><%= @post.text %></div>
        </div>
        <div class="post-show-buttons">
        <%= link_to [:edit, @post] do %>
          <button class="button-white">編集</button>
        <% end %>
        <%= link_to @post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <button class="button">削除</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</main>
