<div class="title">
  <div class="title-container">
    <h2 class="post-show-title">
      <%= @post.title %>
    </h2>
  </div>
</div>

<main class="contents-container">
  <div class="contents-wrapper post-show-wrapper">
    <div class="post-show">
      <%= image_tag @post.image.variant(resize_to_fill: [600, 350]), class:"post-show-image" if @post.image.attached? %>
      <div class="post-show-info">
        <div class="post-show-user">
          <%= image_tag @post.user.user_image.variant(resize_to_fill: [70, 70]), class:"user-image post-show-user-image" %>
          <div class="post-show-user-name"><%= @post.user.name %></div>
        </div>
        <p>作品ID : <%= @post.work_id %></p>
        <p>作者ID : <%= @post.author_id %></p>
        <p>投稿日 : <%=l @post.updated_at %></p>
        <p><%= @post.text %></p>
      </div>
    </div>
    <div class="post-show-buttons">
      <%= link_to [:edit, @post] do %>
        <button class="button-white">編集</button>
      <% end %>
      <%= link_to @post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
        <button class="button">削除</button>
      <% end %>
    </div>
  </div>
</main>
