<p><%= @post.title %></p>
<%= image_tag @post.image.variant(resize_to_fill: [400, 250]) if @post.image.attached? %>
<p>コメント : <%= @post.text %></p>
<p>作品ID : <%= @post.work_id %></p>
<p>作者ID : <%= @post.author_id %></p>
<p><%= link_to "編集", [:edit, @post] %></p>
<p><%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
<p><%= link_to "一覧に戻る", :posts %></p>
