<main class="contents-container">
  <div class="bredcrumb"> 
      <%= link_to "ホーム", root_path %>
      <span></span><%= link_to "ユーザー", users_path %>
      <% if @user == current_user %>
        <span></span><%= link_to "マイページ" , user_path(@user.id) %>
      <% else %>
        <span></span><%= link_to @user.name , user_path(@user.id) %>
      <% end %>
      <span></span>フォロー
  </div>
  <div class="contents-wrapper">
    <div class="contents-title">
      <div class="contents-count">
        フォロー中： <%= @users.count %> 件
      </div>
    </div>
    <%= render 'layouts/shared/user_list', users: @users %>
  </div>
</main>
