<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div id="logo">
      <h1><%= link_to "マイデザイン配布所", root_path %></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <% if user_signed_in? %>
          <li class="search-form">
            <%= form_tag(searchs_path, method: :get) do %>
              <%= select_tag 'model', options_for_select({ "マイデザイン" => "post", "ユーザー" => "user" }) %>
              <%= text_field_tag 'content' %>
              <%= submit_tag '検索' %>
            <% end %>
          </li>
          <li><%= link_to "新規投稿", new_post_path %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li class="dropdown"><a href=""><span>カテゴリー</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <% header_categories.each do |category| %>
                <li class="dropdown-item"><%= link_to category.name, category_posts_path(category.id) %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
