<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="header-container container d-flex align-items-center justify-content-between">

    <div id="logo">
      <h1><%= link_to "みんなのマイデザイン", root_path %></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "デザインを探す", posts_path %></li>
          <li><%= link_to "投稿する", new_post_path %></li>
          <li><%= link_to "ユーザー", users_path %></li>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
